<div class="container">
  <!--<div class="panel-group">-->
    <!--<div class="row">-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Home</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a routerLink="/info" class="list-group-item">Info</a>
            <a routerLink="/accounts" class="list-group-item">Accounts list</a>
            <a routerLink="/sites" class="list-group-item">Sites list</a>
            <a routerLink="/invoices" class="list-group-item">Invoices list</a>
            <a routerLink="/promo_sales" class="list-group-item">PromoSale list</a>
            <a routerLink="/promos" class="list-group-item">Promos List</a>
            <!--<a href="/scan" class="list-group-item">Scan Website</a>-->
          </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
